*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(0, 247, 255);
}
.head{
    text-align: center;
    margin: 30px;
    font-size: 4rem;
}
#head{
    text-align: center;
    margin-top: 230px;
    font-size: 5rem;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.btn-1{
    color: #000000;
    padding: 10px 35px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #c4e538;
    border-radius: 5px;
}
.btn-1:hover{
    background-color: #009432;
    color: #ffffff;
}
.btn-2{
    color: #000000;
    padding: 10px 35px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #f3a683;
    border-radius: 5px;
}
.btn-2:hover{
    background-color: #ea2027;
    color: #ffffff;
}
.btn-3{
    color: #000000;
    padding: 10px 35px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #f6e58d;
    border-radius: 5px;
}
.btn-3:hover{
    background-color: #f79f1f;
    color: #ffffff;
}